/* Mobile */
body {
    background: #fff;
    color: #3b3f42;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1em;
    margin: 0;
}

p {
    line-height: 1.2em;
    margin: 0.4em 0;
}

a {
    color: #f9e4bc;
    text-decoration: none;
}

::selection {
    background: #f9e4bc;
    color: #3b3f42;
}

a:hover {
    color: #f9e4bc;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.main {
    margin: 0 auto;
    padding: 1.6em;
}

.header {
    height: 20vh;
    margin: 0;
}

.header--right {
    text-align: right;
}

.heading {
    color: #a0a7aa;
    font-size: 1.8em;
    font-weight: 500;
    width: 140px;
}

.content {
    height: 80vh;
    position: relative;
}

.content--main-text {
    font-size: 2.2em;
    line-height: 1.1em;
}

.content--404 {
    font-size: 5em;
    line-height: 1.1em;
}

/* iPad */
@media (min-width: 768px) {
    .main {
        padding: 3em 2.4em 2em;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header--left {
        width: 74%;
    }

    .header--right {
        width: 25%;
    }

    .heading {
        font-size: 2.2em;
        text-align: left;
    }

    .content--main-text {
        font-size: 3em;
        line-height: 1.2em;
    }

    .content--404 {
        line-height: 1.2em;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .content--main-text {
        max-width: 70vw;
    }
}
