body {
    background-color: #f6f3f3;
    color: #575757;
    font-family: 'Figtree', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.8em;
    margin: 0;
}

p {
    line-height: 1.6em;
    margin: 10px 0;
}

a {
    color: #987575;
    text-decoration: none;
}

::selection {
    background: #e1d7d7;
    color: #575757;
}

a:hover {
    color: #b79f9f;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.header {
    margin: 0;
}

.header--right {
    text-align: right;
}

.heading {
    font-family: 'Over the Rainbow', cursive;
    font-size: 32px;
    text-align: center;
}

.heading--404 {
    font-family: 'Over the Rainbow', cursive;
    font-size: 60px;
}

.subheading--404 {
    font-size: 20px;
    margin-bottom: 60px;
}

.content {
    padding: 20px 0;
    position: relative;
}

.content--404 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.copyright {
    font-size: 14px;
}

.copyright p {
    margin: 0;
}

.social {
    text-align: right;
}

.social a {
    color: #705454;
    font-size: 20px;
}

.social:hover a {
    color: #b79f9f;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.social a:hover {
    color: #705454;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.social .fa {
    padding: 2px;
}

.social a:last-child .fa {
    padding-right: 0;
}

/* Styling for dark mode */
body.dark {
    background-color: #222;
    color: #eee;
}

.dark a {
    color: #b79f9f;
}

.dark a:hover {
    color: #987575;
}

.dark .social a {
    color: #b79f9f;
    opacity: 0.9;
}

.dark .social:hover a {
    opacity: 0.4;
}

.dark .social a:hover {
    opacity: 1;
}

@media (min-width: 900px) {
    /* body {
        font-size: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 2em;
    }
    
    p {
        line-height: 1.8em;
        margin: 14px 0;
    } */

    .main {
        padding: 50px 20px 40px;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header--left {
        width: 74%;
    }

    .header--right {
        margin: 20px 0;
        width: 25%;
    }

    .heading {
        font-size: 40px;
        text-align: left;
    }

    .heading--404 {
        font-family: 'Over the Rainbow', cursive;
        font-size: 120px;
    }
    
    .subheading--404 {
        font-size: 20px;
        margin-bottom: 120px;
    }

    /* .copyright {
        font-size: 16px;
    }

    .social a {
        font-size: 22px;
    }

    .social .fa {
        padding: 4px;
    } */
}

@media (min-width: 1200px) {
    .content {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }

    .content--404 {
        display: block;
    }

    .content--left {
        margin-left: 50px;
        width: 49%;
    }

    .content-right {
        width: 50%;
    }
}