/* Mobile */
body {
    background: #fff;
    color: #3b3f42;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1em;
    margin: 0;
}

p {
    line-height: 1.2em;
    margin: 0.4em 0;
}

a {
    color: #f9e4bc;
    text-decoration: none;
}

a:hover, a:active {
    color: #f9e4bc;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

::selection {
    background: #f9e4bc;
    color: #3b3f42;
}

.main {
    margin: 0 auto;
    padding: 1.6em;
}

.header {
    height: 20vh;
    margin: 0;
}

.header--right {
    text-align: right;
}

.heading {
    color: #a0a7aa;
    font-size: 1.8em;
    font-weight: 500;
    width: 140px;
}

.content {
    height: 80vh;
    position: relative;
}

.content--main-text {
    font-size: 2.2em;
    line-height: 1.1em;
}

.content--404 {
    padding-top: 20vh;
    text-align: center;
}

.content--404 h2 {
    color: #a0a7aa;
    font-size: 5em;
    line-height: 1.1em;
}

.footer::before {
    border-top: 1px solid #f1f2f2;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin: 2em 0;
}

.footer--row {
    display: flex;
}

.footer--cell {
    flex: 1 1 0;
    margin-bottom: 2em;
    text-align: left;
}

.footer h4, .footer h5, .footer p {
    font-size: 1em;
    line-height: 1.2em;
}

.footer h4 {
    color: #a0a7aa;
}

.footer h5 a {
    color: #3b3f42;
    text-decoration: none;
    word-break: break-all;
}

.footer h5 a:hover, a:active {
    color: #6c7578;
    text-decoration: none;
}


.footer--socials h5 a::after {
    content: '↗';
}

.footer--notes {
    color: #a0a7aa;
    margin-bottom: 2em;
}

/* iPad */
@media (min-width: 768px) {
    .main {
        padding: 3em 2.4em 2em;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header--left {
        width: 74%;
    }

    .header--right {
        width: 25%;
    }

    .heading {
        font-size: 2.2em;
        text-align: left;
    }

    .content--main-text {
        font-size: 3em;
        line-height: 1.2em;
    }

    .footer h4, .footer h5, .footer p {
        font-size: 1.1em;
        line-height: 1.4em;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .content--main-text {
        max-width: 70vw;
    }

    .content--404 h2 {
        font-size: 8em;
    }

    .content--404 h3 {
        font-size: 1.8em;
    }


    .footer--row {
        width: 50%;
    }
}
